include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/window-rule.kdl"
include "dms/input-device.kdl"
include "dms/monitor.kdl"
include "dms/animations.kdl"

spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

config-notification {
    disable-failed
}

gestures {
    hot-corners {
        off
    }
}

overview {
    workspace-shadow {
        off
    }
}

environment {
  XDG_CURRENT_DESKTOP "niri"
}

hotkey-overlay {
    skip-at-startup
}

debug {
    honor-xdg-activation-with-invalid-serial
}

recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}
